body {
	font-family: sans-serif;	
	background-repeat: no-repeat;
	background-size: cover;
	
	
}

.abcd {

	border-radius: 25px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 17px #333;

}

.header {
	text-align: center;
	padding-top: 75px;
	
}

.header h1 {
	color: #333;
	font-size: 20px;
	margin-bottom: 80px;
}


input, button {	
	height: 40px;
	border:none;
	outline: none;
	font-size: 15px;
	color: #333;
	margin-bottom: 10px;
}

button {
	
	
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 70px;
}

.main button:hover {
	box-shadow: 2px 2px 5px #555;
	background-color:rgb(145, 212, 190);
}
.main input:hover {
	box-shadow: 2px 2px 5px #555;
}